*.kpf
*.pyc
*.swp
*.*.swp
.*.*.swo
*.log
*.pid
*.komodo*
bin
build
dist
include
lib
*.egg-info
.pydevproject
.project
.tox
/.settings
/.metadata
dropin.cache
eggs/
parts/
develop-eggs/
.idea
docs/_build
*.egg

