*.egg
*.egg-info
*.komodo*
*.kpf
*.log
*.pid
*.pyc
*.swp
*.*.swp
.*.*.swo
*~
bin/
build/
develop-eggs/
dist/
docs/_build
dropin.cache
eggs/
include
lib/
lib-python/
lib_pypy/
man/
parts/
share/
site-packages/
.coverage
.idea
.pip_cache
.project
.pydevproject
.tox
/.settings
/.metadata
