# Consistent testing environment.
black==22.10.0
coverage==6.3.2; python_version=="3.8"
coverage==7.10.7; python_version > "3.8"
flake8==5.0.2
objgraph==3.5.0
pytest==6.2.5; python_version=="3.8"
pytest==8.4.2; python_version > "3.8"
pytest-cov==3.0.0; python_version=="3.8"
pytest-cov==7.0.0; python_version > "3.8"
pytest-timeout==2.2.0; python_version=="3.8"
pytest-timeout==2.4.0; python_version > "3.8"
