global-exclude *pyc *pyo __pycache__
# Git files
exclude .gitignore
# CI/CD files
exclude .travis.yml.bak
exclude .clog.toml
prune .github

exclude Makefile
exclude run_failure.py

include CHANGES.md
include CONTRIBUTING.md
include README.md
include LICENSE
include MANIFEST.in

include tox.ini

recursive-include kazoo *
recursive-include docs *
