include CHANGES.md
include CONTRIBUTING.md
include README.md
include LICENSE
include MANIFEST.in
exclude .gitignore
exclude .travis.yml
exclude Makefile
exclude run_failure.py
recursive-include kazoo *
recursive-include docs *
global-exclude *pyc *pyo
